@page
@model OnlineApplications.QOEs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QualificationOnEntry</h4>
<hr />

<div class="row">
    <div class="col-md">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="QualificationOnEntry.ApplicationID" class="control-label"></label>*@
                <select asp-for="QualificationOnEntry.ApplicationID" class="form-control" asp-items="ViewBag.ApplicationID"></select>
            </div>

            <div id="QOESubjectLine">
                <div class="row">
                    <div class="col-md-6 col-lg">
                        <div class="form-group">
                            @*<label asp-for="QualificationOnEntry.SubjectID"></label>*@
                            <select asp-for="QualificationOnEntry.SubjectID" class="form-control" asp-items="ViewBag.QOEID">
                                <option value="" hidden disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="QualificationOnEntry.SubjectID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg">
                        <div class="form-group">
                            @*<label for="qoe.Subject">Subject (if not in list)</label>*@
                            <input type="text" class="form-control" id="qoe.Subject" />
                        </div>
                    </div>
                    <div class="col-md-3 col-lg">
                        <div class="form-group">
                            @*<label asp-for="QualificationOnEntry.ActualGrade"></label>*@
                            <select asp-for="QualificationOnEntry.ActualGrade" class="form-control" asp-items="ViewBag.GradeID">
                                <option value="" hidden disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="QualificationOnEntry.ActualGrade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg">
                        <div class="form-group">
                            @*<label asp-for="QualificationOnEntry.PredictedGrade"></label>*@
                            <select asp-for="QualificationOnEntry.PredictedGrade" class="form-control" asp-items="ViewBag.GradeID">
                                <option value="" hidden disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="QualificationOnEntry.PredictedGrade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg">
                        <div class="form-group">
                            @*<label for="qoe.DateAwarded">Date Awarded</label>*@
                            <input type="date" class="form-control" id="qoe.DateAwarded" />
                        </div>
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 text-right">
                        <div class="form-group">
                            @*<label>&nbsp;</label>*@
                            <button type="button" class="form-control btn btn-danger DeleteQOEButton"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
